@use '~@angular/material' as mat;

@include mat.core();

@import '../../../../../styles';
@import '../../../../../sizes';

.klubtalent-blue-theme {
  background: mat.get-color-from-palette($klubtalent-blue-primary, 50);
}

.klubtalent-purple-theme {
  background: mat.get-color-from-palette($klubtalent-purple-primary, 50);
}

.klubtalent-yellow-theme {
  background: mat.get-color-from-palette($klubtalent-yellow-primary, 50);
}

.klubtalent-green-theme {
  background: mat.get-color-from-palette($klubtalent-green-primary, 50);
}

.content, .toolbar {
  @media #{$breakpoint-small} {
    margin: 10px;
    padding-bottom: 20px;
  }
  @media #{$breakpoint-medium} {
    margin: 20px;
    padding-bottom: 40px;
  }
  @media #{$breakpoint-large} {
    margin: 40px;
    padding-bottom: 60px;
  }
}
