<app-overview-toolbar class="toolbar" (menuItemEventEmitter)="onMenuItemClicked($event)"></app-overview-toolbar>

<div class="content">

  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper (selectionChange)="onStepChange()">
    <ng-template matStepperIcon="edit">
      <mat-icon>done</mat-icon>
    </ng-template>

    <mat-step [stepControl]="offeringsFormGroup!">
      <form [formGroup]="offeringsFormGroup!">
        <ng-template matStepLabel>Was macht dein Verein?</ng-template>
        <app-sports-selection
          [itemsList]="sportsList"
          [backgroundColor]="sportsBackgroundColor"
          [textColor]="sportsTextColor"
          (itemsSelectedEventEmitter)="onSportsSelected($event)"></app-sports-selection>
        <div class="button-container flexcontainer">
          <div class="flexbox"></div>
          <button mat-button matStepperNext color="accent" *ngIf="sports.length === 0">
            weiter ohne Auswahl
          </button>
          <button mat-button matStepperNext color="accent" *ngIf="sports.length > 0">
            weiter
          </button>
          <div class="flexbox" *ngIf="media > mediaType.SMALL"></div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="offeringsFormGroup!">
      <form [formGroup]="offeringsFormGroup!">
        <ng-template matStepLabel>Hat dein Verein andere Angebote?</ng-template>
        <app-offerings-selection
          [itemsList]="offeringsList"
          [backgroundColor]="offeringsBackgroundColor"
          [textColor]="offeringsTextColor"
          (itemsSelectedEventEmitter)="onOfferingsSelected($event)"></app-offerings-selection>
        <div class="flexcontainer button-container">
          <div class="flexbox" *ngIf="media > mediaType.SMALL"></div>
          <button mat-button matStepperPrevious color="accent">zurück</button>
          <div class="flexbox button-separator" *ngIf="media < mediaType.MEDIUM"></div>
          <button mat-button matStepperNext color="accent" *ngIf="offerings.length === 0">
            keine weiteren Angebote
          </button>
          <button mat-button matStepperNext color="accent" *ngIf="offerings.length > 0">
            weiter
          </button>
          <div class="flexbox" *ngIf="media > mediaType.SMALL"></div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="membersFormGroup!">
      <form [formGroup]="membersFormGroup!">
        <ng-template matStepLabel>Wie viele Mitglieder hat dein Verein?</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Mitglieder</mat-label>
          <input matInput type="number" placeholder="0" formControlName="membersControl" required [(ngModel)]="members">
        </mat-form-field>
        <div class="flexcontainer button-container">
          <div class="flexbox" *ngIf="media > mediaType.SMALL"></div>
          <button mat-button matStepperPrevious color="accent">zurück</button>
          <div class="flexbox button-separator" *ngIf="media < mediaType.MEDIUM"></div>
          <button mat-button matStepperNext color="accent"
                  [disabled]="membersFormGroup == undefined || !membersFormGroup.valid">weiter
          </button>
          <div class="flexbox" *ngIf="media > mediaType.SMALL"></div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="membershipFeesFormGroup!">
      <form [formGroup]="membershipFeesFormGroup!">
        <ng-template matStepLabel>Wie hoch ist der monatliche Mitgliedsbeitrag deines Vereins aktuell?</ng-template>
        <mat-form-field appearance="fill" floatLabel="always">
          <mat-label>Mitgliedsbeitrag</mat-label>
          <input matInput type="number" class="example-right-align" placeholder="0"
                 formControlName="membershipFeesControl" required [(ngModel)]="membershipFees">
          <span matSuffix>.00&nbsp;Euro</span>
        </mat-form-field>
        <div class="flexcontainer button-container">
          <div class="flexbox" *ngIf="media > mediaType.SMALL"></div>
          <button mat-button matStepperPrevious color="accent">zurück</button>
          <div class="flexbox button-separator" *ngIf="media < mediaType.MEDIUM"></div>
          <button mat-button matStepperNext color="accent"
                  [disabled]="membershipFeesFormGroup == undefined || !membershipFeesFormGroup.valid">weiter
          </button>
          <div class="flexbox" *ngIf="media > mediaType.SMALL"></div>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="stateFormGroup!">
      <form [formGroup]="stateFormGroup!">
        <ng-template matStepLabel>In welchem Bundesland agiert dein Verein?</ng-template>
        <mat-form-field appearance="fill">
          <mat-select placeholder="Bundesland" formControlName="federalStateControl" required
                      [(ngModel)]="federalState">
            <mat-option [value]="federalState" *ngFor="let federalState of federalStatesList">
              <span class="state-logo-wrapper">
                  <img class="state-logo" alt="" [src]="getFederalStateLogo(federalState)"/>
              </span>
              {{ federalState }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="flexcontainer button-container">
          <div class="flexbox" *ngIf="media > mediaType.SMALL"></div>
          <button mat-button matStepperPrevious color="accent">zurück</button>
          <div class="flexbox button-separator" *ngIf="media < mediaType.MEDIUM"></div>
          <button mat-button matStepperNext color="accent"
                  [disabled]="stateFormGroup == undefined || !stateFormGroup.valid" (click)="onStepChange()">
            weiter
          </button>
          <div class="flexbox" *ngIf="media > mediaType.SMALL"></div>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Fertig!</ng-template>
      <p>Der optimale Mitgliedsbeitrag für deinen Verein ist</p>
      <div *ngIf="membershipFees != undefined && suggestedMembershipFees != undefined">
        <span class="current-fee">{{ membershipFees }} <span *ngIf="media > mediaType.SMALL">Euro</span></span>
        <mat-icon class="update-arrow" *ngIf="suggestedMembershipFees > membershipFees"
                  [svgIcon]="'arrow-top-right-thick'"></mat-icon>
        <mat-icon class="update-arrow" *ngIf="suggestedMembershipFees === membershipFees"
                  [svgIcon]="'arrow-right-thick'"></mat-icon>
        <mat-icon class="update-arrow" *ngIf="suggestedMembershipFees < membershipFees"
                  [svgIcon]="'arrow-bottom-right-thick'"></mat-icon>
        <span class="suggested-fee">{{ suggestedMembershipFees }} Euro</span>
      </div>
      <div class="flexcontainer button-container">
        <div class="flexbox" *ngIf="media > mediaType.SMALL"></div>
        <button mat-button matStepperPrevious color="accent">zurück</button>
        <div class="flexbox button-separator" *ngIf="media < mediaType.MEDIUM"></div>
        <button mat-button (click)="onResetStepper()" color="accent">von vorn beginnen</button>
        <div class="flexbox" *ngIf="media > mediaType.SMALL"></div>
      </div>
    </mat-step>

  </mat-stepper>

</div>
