@use '@angular/material' as mat;

@include mat.core();

@import '../../../../../flex';
@import '../../../../../styles';
@import '../../../../../sizes';

.content-overview, .toolbar {
  @media #{$breakpoint-small} {
    margin: 10px;
    padding-bottom: 20px;
  }
  @media #{$breakpoint-medium} {
    margin: 20px;
    padding-bottom: 40px;
  }
  @media #{$breakpoint-large} {
    margin: 40px;
    padding-bottom: 60px;
  }
}

.button-container {
  margin-top: 24px;
}

.button-separator {
  width: 48px;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.state-logo-wrapper {
  display: inline-block;
  width: 64px;
}

.state-logo {
  display: block;
  margin: 0 auto -8px;

  height: 32px;
}

.update-arrow {
  margin: 0 24px;
  width: 48px;
  height: 48px;
  vertical-align: bottom;
}

.current-fee {
  font-size: 32px;
}

.suggested-fee {
  font-size: 48px;
}

::ng-deep .klubtalent-blue-theme {
  .mat-stepper-vertical, .mat-stepper-horizontal {
    background: mat.get-color-from-palette($klubtalent-blue-primary, 50);
  }

  .suggested-fee {
    color: mat.get-color-from-palette($klubtalent-blue-accent, 500);
  }

  .update-arrow {
    fill: mat.get-color-from-palette($klubtalent-blue-accent, 500);
  }

  .button {
    color: mat.get-color-from-palette($klubtalent-blue-accent, 500);
  }
}

::ng-deep .klubtalent-dark-blue-theme {
  .mat-stepper-vertical, .mat-stepper-horizontal {
    background: mat.get-color-from-palette($klubtalent-dark-blue-primary, 50);
  }

  .suggested-fee {
    color: mat.get-color-from-palette($klubtalent-dark-blue-accent, 500);
  }

  .update-arrow {
    fill: mat.get-color-from-palette($klubtalent-dark-blue-accent, 500);
  }

  .button {
    color: mat.get-color-from-palette($klubtalent-dark-blue-accent, 500);
  }
}

::ng-deep .klubtalent-purple-theme {
  .mat-stepper-vertical, .mat-stepper-horizontal {
    background: mat.get-color-from-palette($klubtalent-purple-primary, 50);
  }

  .suggested-fee {
    color: mat.get-color-from-palette($klubtalent-purple-accent, 500);
  }

  .update-arrow {
    fill: mat.get-color-from-palette($klubtalent-purple-accent, 500);
  }

  .button {
    color: mat.get-color-from-palette($klubtalent-purple-accent, 500);
  }
}

::ng-deep .klubtalent-yellow-theme {
  .mat-stepper-vertical, .mat-stepper-horizontal {
    background: mat.get-color-from-palette($klubtalent-yellow-primary, 50);
  }

  .suggested-fee {
    color: mat.get-color-from-palette($klubtalent-yellow-accent, 500);
  }

  .update-arrow {
    fill: mat.get-color-from-palette($klubtalent-yellow-accent, 500);
  }

  .button {
    color: mat.get-color-from-palette($klubtalent-yellow-accent, 500);
  }
}

::ng-deep .klubtalent-green-theme {
  .mat-stepper-vertical, .mat-stepper-horizontal {
    background: mat.get-color-from-palette($klubtalent-green-primary, 50);
  }

  .suggested-fee {
    color: mat.get-color-from-palette($klubtalent-green-accent, 500);
  }

  .update-arrow {
    fill: mat.get-color-from-palette($klubtalent-green-accent, 500);
  }

  .button {
    color: mat.get-color-from-palette($klubtalent-green-accent, 500);
  }
}
