@use '~@angular/material' as mat;

@include mat.core();
@import 'theme-klubtalent-blue';
@import 'theme-klubtalent-dark-blue';
@import 'theme-klubtalent-purple';
@import 'theme-klubtalent-yellow';
@import 'theme-klubtalent-green';

.klubtalent-blue-theme {
  @include mat.all-component-themes($klubtalent-blue-theme);
}

.klubtalent-dark-blue-theme {
  @include mat.all-component-themes($klubtalent-dark-blue-theme);
}

.klubtalent-purple-theme {
  @include mat.all-component-themes($klubtalent-purple-theme);
}

.klubtalent-yellow-theme {
  @include mat.all-component-themes($klubtalent-yellow-theme);
}

.klubtalent-green-theme {
  @include mat.all-component-themes($klubtalent-green-theme);
}

html {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* remove scrollbar space */
  height: 0; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

html {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* remove scrollbar space */
  height: 0; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

body {
  height: 100%;
  color: mat.get-color-from-palette(mat.$grey-palette, 900);
  font-family: 'Centra Book', sans-serif;
  margin: 0;

  display: flex;
  flex-direction: column;
}

::ng-deep .mat-bottom-sheet-container {
  background: white;
}

::ng-deep .mat-select-panel {
  background: #fff;
}

::ng-deep .mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.lazyload,
.lazyloading {
  opacity: 0.7;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 2000ms;
}
