@use '~@angular/material' as mat;

$color-purple : #d8bed6;
$color-purple : hsl(305, 25%, 80%);

$klubtalent-purple: (
  50: hsl(305, 25%, 99%),
  100: hsl(305, 25%, 90%),
  200: hsl(305, 25%, 80%),
  300: hsl(305, 25%, 70%),
  400: hsl(305, 25%, 60%),
  500: hsl(305, 25%, 50%),
  600: hsl(305, 25%, 40%),
  700: hsl(305, 25%, 30%),
  800: hsl(305, 25%, 20%),
  900: hsl(305, 25%, 10%),
  A100: $color-purple,
  A200: $color-purple,
  A400: $color-purple,
  A700: $color-purple,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$color-orange : #e56843;
$color-orange : hsl(14, 76%, 58%);

$klubtalent-orange: (
  50: hsl(14, 76%, 100%),
  100: hsl(14, 76%, 98%),
  200: hsl(14, 76%, 88%),
  300: hsl(14, 76%, 78%),
  400: hsl(14, 76%, 68%),
  500: hsl(14, 76%, 58%),
  600: hsl(14, 76%, 48%),
  700: hsl(14, 76%, 38%),
  800: hsl(14, 76%, 28%),
  900: hsl(14, 76%, 18%),
  A100: $color-orange,
  A200: $color-orange,
  A400: $color-orange,
  A700: $color-orange,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$klubtalent-purple-primary: mat.define-palette($klubtalent-purple, 500, 400, 600);
$klubtalent-purple-accent: mat.define-palette($klubtalent-orange, 500, 400, 600);
$klubtalent-purple-warn: mat.define-palette(mat.$red-palette);

$klubtalent-purple-theme: mat.define-light-theme($klubtalent-purple-primary, $klubtalent-purple-accent, $klubtalent-purple-warn);
