@use '../../../../../../node_modules/@angular/material/index' as mat;
@import '../../../../../styles';

@include mat.core();
@import '../../../../../theme-klubtalent-blue';

.klubtalent-blue-theme {
  .logo-letter {
    fill: mat.get-color-from-palette($klubtalent-blue-primary, 500);
  }
}

.klubtalent-purple-theme {
  .logo-letter {
    fill: mat.get-color-from-palette($klubtalent-purple-primary, 500);
  }
}

.klubtalent-yellow-theme {
  .logo-letter {
    fill: mat.get-color-from-palette($klubtalent-yellow-primary, 500);
  }
}

.klubtalent-green-theme {
  .logo-letter {
    fill: mat.get-color-from-palette($klubtalent-green-primary, 500);
  }
}
